USE [master]
GO
/****** Object:  Database [VocabMaster]    Script Date: 8/8/2025 8:40:51 PM ******/
CREATE DATABASE [VocabMaster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VocabMaster', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VocabMaster.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VocabMaster_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VocabMaster_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VocabMaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VocabMaster]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/8/2025 8:40:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompletedQuizzes]    Script Date: 8/8/2025 8:40:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompletedQuizzes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[QuizQuestionId] [int] NOT NULL,
	[CompletedAt] [datetime2](7) NOT NULL,
	[WasCorrect] [bit] NOT NULL,
 CONSTRAINT [PK_CompletedQuizzes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearnedVocabularies]    Script Date: 8/8/2025 8:40:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearnedVocabularies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
	[LearnedDate] [datetime2](7) NOT NULL,
	[LearnedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LearnedVocabularies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizQuestions]    Script Date: 8/8/2025 8:40:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](100) NOT NULL,
	[CorrectAnswer] [nvarchar](max) NOT NULL,
	[WrongAnswer1] [nvarchar](max) NOT NULL,
	[WrongAnswer2] [nvarchar](max) NOT NULL,
	[WrongAnswer3] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_QuizQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/8/2025 8:40:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vocabularies]    Script Date: 8/8/2025 8:40:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vocabularies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](100) NOT NULL,
	[Vietnamese] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MeaningsJson] [nvarchar](max) NOT NULL,
	[PhoneticsJson] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Vocabularies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CompletedQuizzes_QuizQuestionId]    Script Date: 8/8/2025 8:40:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_CompletedQuizzes_QuizQuestionId] ON [dbo].[CompletedQuizzes]
(
	[QuizQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompletedQuizzes_UserId_QuizQuestionId]    Script Date: 8/8/2025 8:40:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CompletedQuizzes_UserId_QuizQuestionId] ON [dbo].[CompletedQuizzes]
(
	[UserId] ASC,
	[QuizQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearnedVocabularies_UserId]    Script Date: 8/8/2025 8:40:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_LearnedVocabularies_UserId] ON [dbo].[LearnedVocabularies]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LearnedVocabularies_Word_UserId]    Script Date: 8/8/2025 8:40:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LearnedVocabularies_Word_UserId] ON [dbo].[LearnedVocabularies]
(
	[Word] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vocabularies_Word]    Script Date: 8/8/2025 8:40:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Vocabularies_Word] ON [dbo].[Vocabularies]
(
	[Word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LearnedVocabularies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [LearnedDate]
GO
ALTER TABLE [dbo].[LearnedVocabularies] ADD  DEFAULT (getutcdate()) FOR [LearnedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Vocabularies] ADD  DEFAULT (N'') FOR [Vietnamese]
GO
ALTER TABLE [dbo].[Vocabularies] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vocabularies] ADD  DEFAULT (N'') FOR [MeaningsJson]
GO
ALTER TABLE [dbo].[Vocabularies] ADD  DEFAULT (N'') FOR [PhoneticsJson]
GO
ALTER TABLE [dbo].[CompletedQuizzes]  WITH CHECK ADD  CONSTRAINT [FK_CompletedQuizzes_QuizQuestions_QuizQuestionId] FOREIGN KEY([QuizQuestionId])
REFERENCES [dbo].[QuizQuestions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompletedQuizzes] CHECK CONSTRAINT [FK_CompletedQuizzes_QuizQuestions_QuizQuestionId]
GO
ALTER TABLE [dbo].[CompletedQuizzes]  WITH CHECK ADD  CONSTRAINT [FK_CompletedQuizzes_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompletedQuizzes] CHECK CONSTRAINT [FK_CompletedQuizzes_Users_UserId]
GO
ALTER TABLE [dbo].[LearnedVocabularies]  WITH CHECK ADD  CONSTRAINT [FK_LearnedVocabularies_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LearnedVocabularies] CHECK CONSTRAINT [FK_LearnedVocabularies_Users_UserId]
GO
USE [master]
GO
